<div class="page-header">
  <h1>Rekisteröidy</h1>
</div>

<form>
  <div class="form-group">
    <label>Käyttäjätunnus</label>
    <input type="text" ng-model="newUsername" class="form-control">
  </div>

  <div class="form-group">
    <label>Salasana</label>
    <input type="text" ng-model="newPassword" class="form-control">
  </div>

  <div class="form-group">
    <label>Salasana uudelleen</label>
    <input type="text" name="passwordRepeat" ng-model="newPasswordRepeat" class="form-control">
  </div>

    <button class="btn btn-success" ng-click="register()">Rekisteröidy</button>
    <div ng-show="registrationFailed">Virhe: {{errorMessage}} </div>
        
</form>
